<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunasoftware.tunaui">

    <application>
        <activity
            android:name=".TunaSelectPaymentMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TunaUI.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".checkout.TunaCheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TunaUI.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".delivery.TunaSelectDeliveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TunaUI.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".installment.TunaSelectInstallmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TunaUI.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".document.TunaInformDocumentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TunaUI.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>