<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunasoftware.tunacr">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".TunaCardRecognition"
            android:exported="true"
            android:theme="@style/Theme.TunaUI.NoActionBar">

            <intent-filter>
                <action android:name="TUNA_OPEN_CARD_RECOGNITION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>