<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunasoftware.tunasdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".TunaExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TunaAndroidSDK">
        <activity android:name=".kotlin.ReadCreditCardExampleActivity"></activity>
        <activity android:name=".java.JavaListCardsActivity" />
        <activity android:name=".java.JavaDetailCardActivity" />
        <activity android:name=".java.JavaNewCardActivity" />
        <activity android:name=".kotlin.KotlinListCardsActivity" />
        <activity android:name=".kotlin.KotlinDetailCardActivity" />
        <activity android:name=".kotlin.KotlinNewCardActivity" />
        <activity android:name=".kotlin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>